body {
    background: linear-gradient(-45deg,  rgba(255, 255, 255, 0.88) 50%, rgba(255, 248, 228, 0.88) 52.08%, rgba(255, 255, 255, 0.8272) 100%));
    background-size: 400% 400%;
    animation: gradient 10s ease infinite;
    height: 100vh;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

h1 {
    font-size: 64px;
    margin-bottom: 40px;
}

h4 {
    margin-bottom: 40px;
}

.padding20px {
    padding-left: 40px;
    padding-right: 40px;

}

.container {
    display: flex;
    margin-top: 40px;
}

.containerLeft {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}


.catalogContainer {
    display: flex;
    flex-direction: column;
}

.catalogHeader {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
}

.catalogArrows {
    display: flex;
    flex-direction: row;
    gap: 0 15px;
}

.catalogList {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardCointainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 210px;
    height: 325px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.51) 0.01%, rgba(210, 210, 210, 0.51) 100%);
    /* filter: drop-shadow(-9px 5px 80px rgba(0, 0, 0, 0.13)); */
    border-radius: 8px;
    justify-content: space-evenly

}

/* .cardContainerImg {
    display: inline-block;
    width: 100%;
} */


.cardImg {
    width: 120px;
}

.cardBtn {
    border-radius: 10px;
}

/* Modal styles */

#modal-container {}